#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #3d3d3d;
    transition: color 0.3s ease;

}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;

}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #3d3d3d;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    background: #ededed;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    height: 800px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}

.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    background-image: url(../img/about/background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.flex-grow-header {
    display: flex;
    width: 700px;
    margin: 20% 0 15% 32%;
}

.header__logo {
    width: 180px;
    height: 180px;
    margin: 10px;
    float: right;
}

.flex-grow-header h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    color: white;
}

@media all and (max-width: 1000px) {
    .header__logo {
        width: 100px;
        height: 100px;
    }

    .flex-grow-header h2 {
        font-size: 50px;
    }
}

@media all and (max-width: 780px) {
    .flex-grow-header h2 {
        font-size: 40px;
    }

    #menu {
        width: 200px;
    }

    #menu li {
        font-size: 18px;
    }

    #menuToggle {
        position: absolute;
    }
}

@media all and (max-width: 600px) {
    .header__logo {
        width: 80px;
        height: 80px;
    }

    .flex-grow-header h2 {
        font-size: 30px;
    }

}

@media all and (max-width: 450px) {
    .header__logo {
        width: 60px;
        height: 60px;
    }

    .flex-grow-header h2 {
        font-size: 20px;
    }

    #menuToggle {
        top: 20px;
        left: 20px;
    }
}

@media all and (max-width: 320px) {
    .header__logo {
        width: 30px;
        height: 30px;
    }

    .flex-grow-header h2 {
        font-size: 15px;
    }

    #menuToggle {
        top: 20px;
        left: 20px;
    }

    #menuToggle span {
        width: 22px;
        height: 4px;
        margin-bottom: 5px;
        transform-origin: -6.9px 2px;
    }
}